<div>
    <ws-ui-units-toggle
      [units]="(queryParams$ | async)?.units"
      (buttonClicked)="toggleUnits($event)"
    ></ws-ui-units-toggle>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 text-center">
      <h2>{{ cityName }}</h2>

      <ws-ui-weather-info-table
        [weatherList]="(data$ | async)?.list"
        [units]="(queryParams$ | async)?.units"
      ></ws-ui-weather-info-table>
    </div>

    <div class="col-lg-8 mt-3" style="margin-bottom: 30px;">
      <canvas
        baseChart
        width="500"
        height="300"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="true"
        chartType="line"
      ></canvas>
    </div>
  </div>
</div>
