<div>
  <ws-ui-units-toggle
    [units]="(queryParams$ | async)?.units"
    (buttonClicked)="toggleUnits($event)"
  ></ws-ui-units-toggle>
</div>
<div class="container-fluid">
  <div
    class="row flex-nowrap"
    *ngIf="cityWeatherData$ | async as cityWeatherData"
  >
    <a
      class="col"
      *ngFor="let cityWeather of cityWeatherData"
      [routerLink]="['/weather', cityWeather.id]"
    >
      <ws-ui-weather-card
        [cityWeather]="cityWeather"
        (cardSelected)="goToCity($event)"
        [units]="(queryParams$ | async)?.units"
      ></ws-ui-weather-card>
    </a>
  </div>
</div>
