<button
(click)="buttonClicked.emit()"
type="button"
class="btn btn-link"
>
<i *ngIf="units === 'metric'" class="wi wi-celsius"></i>
<i *ngIf="units === 'imperial'" class="wi wi-fahrenheit"></i>
</button>
