<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Temperature</th>
      <th scope="col">Wind</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let weather of weatherList">
      <td>{{ weather.dt_txt | date: "EEEEEE, HH:mm" }}</td>
      <td>{{ weather.main.temp | number: "1.0-0" }} <i *ngIf="units === 'metric'" class="wi wi-celsius"></i>
        <i *ngIf="units === 'imperial'" class="wi wi-fahrenheit"></i></td>
      <td>
        {{ weather.wind.speed }} {{units === 'metric' ? 'km/h' : 'mph'}}
        <i
          [ngClass]="['wi wi-wind', 'towards-' + weather?.wind?.deg + '-deg']"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
