/* You can add global styles to this file, and also import other style files */
@import url(assets/style/weather-icons.min.css);
@import url(assets/style/weather-icons-wind.min.css);

@font-face {
  font-family: roboto-regular;
  src: url(assets/font/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: roboto-light-italic;
  src: url(assets/font/Roboto-LightItalic.ttf) format("truetype");
}

html,
body {
  height: 100%;
}

body {
  font-family: "roboto-regular";
  background: linear-gradient(#fddb92, #d1fdff);
  background-repeat: no-repeat;
background-attachment: fixed;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
