.weather-card {
  min-width: 300px;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  &__top {
    position: relative;
    height: 570px;
    width: 100%;
    overflow: hidden;
    background: url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg")
      no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: #fff;
    &--wrapper {
      padding: 30px;
      position: relative;
      z-index: 1;
    }
    &--nav {
      // height: 20px;
      font-size: 2rem;
      font-weight: 100;
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
    }
    &--heading {
      margin-top: 20px;
      font-size: 2rem;
      font-weight: 400;
    }
    &--location {
      margin-top: 20px;
      font-size: 1.5rem;
      font-weight: 400;
    }
    &--temp {
      margin-top: 20px;

      &-value {
        display: inline-block;
        font-size: 4rem;
        font-weight: 400;
      }
    }
    // &:after {
    //   content: "";
    //   height: 100%;
    //   width: 100%;
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   background: rgba(0, 0, 0, 0.5);
    // }
  }
  &__bottom {
    padding: 0 30px;

    &--forecast {
      overflow: hidden;
      padding-top: 20px;
      max-height: 155px;
      padding-left: 0;
      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
