<div click="cardSelected.emit()" class="weather-card">
  <div class="weather-card__top">
    <div class="weather-card__top-wrapper">
      <h1 class="weather-card__top--heading">
        {{ cityWeather?.weather[0]?.main }}
      </h1>
      <h3 class="weather-card__top--location">{{ cityWeather?.name }}</h3>
      <p class="weather-card__top--temp">
        <span class="weather-card__top--temp-value"
          >{{ cityWeather?.main.temp | number:'1.0-0' }}  <i *ngIf="units === 'metric'" class="wi wi-celsius"></i>
          <i *ngIf="units === 'imperial'" class="wi wi-fahrenheit"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="weather-card__bottom">
    <ul class="weather-card__bottom--forecast">
      <li>
        <span class="weather-card__bottom--forecast-label">Wind</span>
        <span class="weather-card__bottom--forecast-condition">
          {{ cityWeather?.wind?.speed }} {{units === 'metric' ? 'km/h' : 'mph'}} <i [ngClass]="['wi wi-wind', 'towards-' + cityWeather?.wind?.deg + '-deg']"></i>
        </span>
      </li>
      <li>
        <span class="weather-card__bottom--forecast-label">Humidity</span>
        <span class="weather-card__bottom--forecast-condition">
          {{ cityWeather?.main.humidity }}%
        </span>
      </li>
      <li>
        <span class="weather-card__bottom--forecast-label">Pressure</span>
        <span class="weather-card__bottom--forecast-condition">
          {{ cityWeather?.main.pressure }} hpa
        </span>
      </li>
    </ul>
  </div>
</div>
